.about {
    width: 100%;
    height: fit-content;
    display: flex;
    /* padding: 0; */
    padding-top: 20vh;
    padding-bottom: 10vh;
    overflow: visible;
}

.about-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.about-whyus {
    display: block;
}

.about-whyus-description {
    display: inline-block;
    margin-right: 2.5vw;
}

.about-whyus-subheadline {
    display: inline;
}

.about-content-imagebox {
    width: 100%;
    height: 75vh;
    border-radius: 25px;
    overflow: hidden;
}

.about-content-textbox {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.about-content-top {
    display: flex;
    flex-direction: column;
    gap: 8.25vh;
}

.about-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}

.about-sticky-item {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
    width: 80vw;
	position: sticky;
	top: 12.5vh;
	height: 85vh;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: #070707;
    color: white;
    border-radius: 25px;
    margin-bottom: 2.5vh;
    overflow: hidden;
    padding: 4vw;
    will-change: tranform;
}

.about-sticky-item-left-textbox-description {
    text-indent: 4vw;
}

.about-sticky-item-headline {
    font-size: 7.5vw;
}

.about-sticky-item-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-sticky-item-left-textbox {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.about-sticky-item-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-sticky-item-right-imagebox {
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    overflow: hidden;
}

.about-sticky-item-right-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-team {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.about-team-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.about-team-item {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
}